.cell{
    font-size: 50px;
    border: white;
    background-color: palevioletred;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}